DAW1/Llenguatge_de_marcas/xml/Verificació.xml

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs ="http://www.w3.org/2001/XMLSchema">
<xs:element name="cadastre">
    <xs:complexType>
        <xs:sequence>
            <xs:element name="habitatge">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="carrer" type="xs:string"/>
                        <xs:element name="numero" type="xs:integer"/>
                        <xs:element name="plantaporta" type="xs:integer"/>
                        <xs:element name="persona">
                            <xs:complexType>
                                <xs:sequence>
                                    <xs:element name="nif" type="xs:string"/>
                                    <xs:element name="nom" type="xs:string"/>
                                    <xs:element name="cognoms" type="xs:string"/>
                                    <xs:element name="neixement" type="xs:string"/>
                                    <xs:element name="sexe" type="xs:string"/>
                                </xs:sequence>
                            </xs:complexType>
                        </xs:element>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:element>
</xs:schema>